<div id="<%= dom_id product %>">
</div>

<div>
  Name: <%= product.name %>
</div>

<div>
  Date bought: <%= product.date_bought %>
</div>

<div>
  Place bought: <%= product.place_bought %>
</div>

<div>
  Calories: <%= product.calories %>
</div>

<div>
  Protein: <%= product.protein %>
</div>

<div>
  Carbohydrates: <%= product.carbohydrates %>
</div>

<div>
  Fats: <%= product.fats %>
</div>

<div>
  Total weight: <%= product.total_weight %>
</div>

<div>
  Weight for macros: <%= product.weight_for_macros %>
</div>

<div>
  Price: <%= product.price %>
</div>
