<table class="mt-4 text-sm table-fixed w-full">
  <tr>
    <th class="w-2/6">Name</th>
    <th class="w-2/6">Shop</th>
    <th class="w-1/6">Price</th>
    <th class="w-1/6 whitespace-normal break-words">Cals/100</th>
    <th class="w-1/6 whitespace-normal break-words">Prot/100</th>
    <th class="w-1/6 whitespace-normal break-words">Prot/€</th>
  </tr>
  <% products.each do |product| %>
    <tr data-controller="clickable-row" data-clickable-row-url-value="<%= product_path(product) %>"
        data-action="click->clickable-row#goToUrl" style="cursor: pointer">
      <td class="whitespace-normal break-all">
        <% if product.image.present? %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 inline align-text-bottom">
            <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4Zm10.5 5.707a.5.5 0 0 0-.146-.353l-1-1a.5.5 0 0 0-.708 0L9.354 9.646a.5.5 0 0 1-.708 0L6.354 7.354a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0-.146.353V12a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V9.707ZM12 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd" />
          </svg>
        <% end %>
        <%= truncate(product.name, length: 25, omission: "") if product.name? %></td>
      <td class="whitespace-normal break-words">
        <%= truncate(product.place_bought, length: 15, omission: "") if product.place_bought? %></td>
      <td class="whitespace-normal break-words">
        <%= format_number_table(product.price) if product.price? %>€
      </td>
      <td class="whitespace-normal break-words">
        <%= format_number_table(display_value_for_100_grams(product.calories, product)) if product.calories? %></td>
      <td class="whitespace-normal break-words">
        <%= format_number_table(display_value_for_100_grams(product.protein, product)) if product.protein? %></td>
      <td class="whitespace-normal break-words">
        <%= format_number_table(product.protein_per_euro) if product.protein_per_euro? %></td>
    </tr>
  <% end %>
</table>