<% content_for :title, "Products" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl my-0">Products</h1>
    <%= link_to "New product", new_product_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <h2 class="mt-2">Your Saved Products</h2>
  <span>Touch any product to view more details</span>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Cals</th>
      <th>Prot</th>
      <th>ProtPerEuro</th>
    </tr>
    <% @products.each do |product| %>
      <tr data-controller="clickable-row" data-clickable-row-url-value="<%= product_path(product) %>"
          data-action="click->clickable-row#goToUrl" style="cursor: pointer">
        <td><%= truncate(product.name, length: 20, omission: "...") %></td>
        <td><%= product.price %></td>
        <td><%= product.calories %></td>
        <td><%= product.protein %></td>
        <td><%= product.protein_per_euro %></td>
      </tr>
    <% end %>
  </table>
  <%= "There are no products in your account" unless @products.any? %>

</div>
